

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

/*
.container-fluid {
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
}*/

.tabbable {
    width: 100%;
    height: 100%;
    /* this IS filling */
}

.tab-content {
    width: 100%;
    height: 100%;
    /* this IS filling */
}

.tab-pane {
    width: 100%;
    height: 100%;
    /* this IS filling */
}

.fill_div {
    width: 100%;
    height: 100%;
    /* this IS filling */
}

.shiny-spinner-output-container {
 /*   width: 100%;
    height: 100%; */
}

/** THE MAIN TABLE **/

.display_table {
    margin: 0;
    padding: 0;
    border-collapse: separate;
    border-spacing: 0.5px 0px;
    
    width: 100%;
    height: calc(100vh - 5.4rem);
}

    /* Targets Firefox */
@supports (-moz-appearance:none) {
    .display_table { 
        margin: 0;
        padding: 0;
        border-collapse: separate;
        border-spacing: 0.5px 0px;
        
        width: 100%;
        height: calc(100vh - 18rem);
    } 
}


    /* This fixes the layout in firefox */
.display_tbody {
    width: 100%;
    height: 100%;
}


/** DISPLAY and HOLDERS **/

.display {
    min-height:100px; 
    vertical-align: text-top;
    padding:0px;
    
    width: 100%;
    height: 100%;
}

.display_td {
    position: relative;
    
    border: 1px solid;
    
    padding: 0; 
    margin: 0;
    height: 100%;
    
    vertical-align: top;
}

.display_narrow {
    width: calc(100vw - 750px);
    min-width: calc(100vw - 750px);
}

.display_wide {
    width: calc(100vw - 500px);
    min-width: calc(100vw - 500px);
}

.display_narrow_smaller {
    width: calc(100vw - 750px - 30px);
    min-width: calc(100vw - 750px - 30px);
}

.display_wide_smaller {
    width: calc(100vw - 500px - 30px);
    min-width: calc(100vw - 500px - 30px);
}

/** CONTROLS and HOLDERS **/


.controls {
    height: 100%; /*80vh;/*100%;*/
    overflow-y: auto;
    scroll-behavior: smooth;
    vertical-align: text-top;
    padding:10px;
    
    white-space: normal;
    
}

.controls_wide {
    width: 500px;
    max-width: 500px;
}

.controls_narrow {
    width: 250px;
    max-width: 250px;
}

.collapsed {
    max-width: 0px;
    width: 0px;
    overflow: hidden;
    
    padding: 0px;
    margin: 0px;
    
    white-space: nowrap;
}

.collapsible {
    transition: 0.5s;
    white-space: nowrap;
    overflow-x: hidden;
}


.controls_td {
    border-left: 1px solid;
    border-right: 1px solid;
    
    height: 100%;
    padding: 0;
}


.controls_header_td {
    border-left: 1px solid;
    border-right: 1px solid;
    border-top: 1px solid;
    border-bottom: 1px solid;

    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    
    overflow: hidden;
    
    white-space: nowrap;
}

/** CALL-TO-ACTION and HOLDERS **/


.cta {
    width: 100%;
    font-size: 150%;
    margin: 0;
}

.cta_td {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    
    vertical-align: bottom;
    
    padding:0;
    margin:0;
    height: 100%;
}


.cta_text_td {
    padding-bottom: 0;
    font-style: italic;

    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
}

.cta_text { /** put this padding here so it can collapse **/
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
}



/** MAKE SURE SPACING FOR NAVBAR WORKS OK **/

 .container-fluid {
   padding-left: 0;
   padding-right: 0;
 }
 
 
 .navbar {
   margin-bottom: 0;
 }
 .navbar-brand {
   /* Was -15px, but that eliminated centering 'padding' */
   margin-left: 0 !important;
 }
 
 .row {
   margin: 0 !important;
 }
 
 
 .col-sm-12 {
   /* Box and column w/ width=12 */
   padding-left: 0;
   padding-right: 0;       
 }
 
 .col-sm-12 > .box {
   margin: 0 !important;
 }

/** OTHER **/

.checkbox_wrapper {
    margin-top: -10px;
    margin-bottom: -10px;
}
