.controls {
    width: 250px;
    max-width: 250px;
    height: 100%;
    overflow-y: scroll;
    vertical-align: text-top;
    padding:10px;
    background-color: #f8f8f8;
}

.controls_td {
    border: 1px solid;
    width: 250px;
    max-width: 250px;
    height: 100%;
    padding: 0;
}

.display {
/*    height:93vh; */
    min-height:100px; 
    vertical-align: text-top;
    padding:5px;
    height: 100%;
}

.display_td {
    border: 1px solid;
    padding: 0; 
    height: 100%;
}

.display_table {
    width: 100%;
    height: 93vh;
 }

.cta {
    width: 100%;
    background: #3c8dbc;
    font-size: 150%;
    color: white;
}

.cta_td {
    border: 1px solid;
    padding:0;
    margin:0;
}


.from_to_table {
    width: 225px;
    vertical-align: middle;
    text-align: left;
    border: 1px solid;
}


.empty_message {
    vertical-align: middle;
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 150%;
}