.controls {
    width: 250px;
    max-width: 250px;
    overflow-y: scroll;
    vertical-align: text-top;
    padding:5px;
    background-color: #f8f8f8;
} 

.display {
    border: 1px solid;
    height:93vh;
    min-height:400px; 
    vertical-align: text-top;
    padding:5px;
}

.display_table {
    width: 100%;
}

.cta {
    width: 100%;
    background: #3c8dbc;
    font-size: 150%;
    color: white;
}

.cta_holder {
    padding:0;
    margin:0;
    border: 1px solid black;
}