
.cta_color {
    background: #03427c;
    color: white;
    border-color: black;
}

.cta_background_color {
    background-color: #f8f8f8;
    border-color: black;
}

.header_color {
    background-color: #e2e2e2;
    border-color: black;
}

.controls_color {
    background-color: #f8f8f8;
    border-color: black;
}

.content_color {
    background-color: #ffffff;
    border-color: black;
}


/* To Override the Boostrap Info Box */

.box.box-solid.box-info>.box-header {
  color:#000000;
  background:#e2e2e2
                    }

.box.box-solid.box-info{
    border-bottom-color:#000000;
    border-left-color:#000000;
    border-right-color:#000000;
    border-top-color:#000000;
}

.box-info .box-body {
    background: #f8f8f8;
}

.box.box-info>.box-header {
  color:#000000;
  background:#ffffff
}

.box.box-info{
    border-bottom-color:#f8f8f8;
    border-left-color:#f8f8f8;
    border-right-color:#f8f8f8;
    border-top-color:#f8f8f8;
}

.box-info .fa{
      font-weight: 900;
      color: #000000;
    }